

{{- with site.Params.homeInfoParams }}
<article class="first-entry home-info">
  {{- if .imageUrl -}}
  <center><img src="{{ .imageUrl | absURL }}" alt="{{ .imageTitle | default "profile image" }}"
      height="{{ .imageHeight | default 150 }}" width="{{ .imageWidth | default 150 }}" /></center>
  {{- end }}
    <header class="entry-header">
        <h1>{{ .Title | markdownify }}</h1>
    </header>

    <div class="entry-content">
        {{ .Content | markdownify }}
    </div>
    <footer class="entry-footer">
        {{ partial "social_icons.html" (dict "align" site.Params.homeInfoParams.AlignSocialIconsTo) }}
    </footer>

    <section class="entry-content">
      The main job of <b>white matter</b> is to convey information, under the form of electrical impulses, from one part of the brain to the other. <b>White matter</b> therefore connects different parts of the brain and cerebellum, and it is at the foundation of the relevant notion of “connectivity”.
</section>
</article>

{{- end -}}
